.wrap {
    max-width: 120rem;
    min-width: 32rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 2.5rem 1rem;
    gap: 1rem;
}
.common_box {
    border-radius: 0.5rem;
    background-color: white;
    display: flex;
    overflow: hidden;
    margin-bottom: 2.5rem;
    box-shadow: 0 0.4rem 1rem 0 rgba(0,0,0,0.2), 0 0.4rem 2rem 0 rgba(0,0,0,0.19);
}

/* 명함 */
.card_box {
    width: 45rem;
    padding: 3.5rem;
    height: 25rem;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.card_job {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-top: 1.2rem;
}
.name_ko { font-size: 2.5rem; color: black; font-weight: bold;}
.name_eng {font-size: 1.1rem; color: #a1a1a1;}
.job {
    font-size: 1.6rem; 
    background: black;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: bold; 
    padding-top: 0.8rem;
    padding-bottom: 3rem;
}
.card_img {
    width: 13rem;
    height: 17rem;
    border-radius: 0.5rem;
    background-image: url("../img/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}
.item_list {
    display: flex;
    justify-content: flex-start;
    gap: 0.8rem;
    font-size: 1.2rem;
}
.item_list > div {
    display: flex;
    flex-direction: column;
}
.item_list > div > span {
    padding-top: 0.8rem;
}
.item_type {
    color: #4294E0;
    font-weight: bold;
}
.design_bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1rem;
    background: linear-gradient(90deg, rgba(66,148,224,1) 0%, rgba(171,39,121,1) 100%);
}

/* Chatbot */
.chatbot_wrap {
    min-width: 39rem;
    max-width: 39rem;
    display: block;
    position: fixed;
    z-index: 990;
    border-radius: 0.5rem;
    right: 15rem;
    bottom: 3rem;
    box-shadow: 0 0.4rem 1rem 0 rgba(0,0,0,0.2), 0 0.4rem 2rem 0 rgba(0,0,0,0.19);
    overflow: hidden;
}
.chatbot_box {
    background-color: #E1EEEE;
}
.chat_msg_box,.human_msg_box {
    display: flex;
}
.human_msg_box {
    justify-content: flex-end;
}
.chat_msg_box_left {
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: white;
}
.chat_msg_box_left>i {
    font-size: 2rem;
    color: #2F3138;
}
.chat_msg_box_right {
    max-width: 32.2rem;
    padding-left: 0.7rem;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}
.human_msg_box.chat_msg_date {
    text-align: right;
}
.human_msg_box.chat_msg_info {
    background-color: #f2e018;
}
.chat_msg_date {
    font-size: 1.1rem;
}
.chat_msg_info {
    color: black;
    background-color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    overflow: hidden;
}
.msg_box {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.6rem 1.4rem;
    height: 51rem;
   
}
.msg_input {
    display: flex;
    height: 4rem;
}
.msg_input input {
    width: 35rem;
    height: 4rem;
    border: none;
    outline: none;
    font-size: 1.6rem;
    color: #2F3138;
    padding-left: 1rem;
}
.msg_inputbutton {
    width: 4rem;
    height: 4rem;
    border: none;
    padding: 0;
    background-color: white;
    cursor: pointer;
    color: #2F3138;
}
.msg_inputbutton:hover {
    color: #10A37F;
}
.msg_input>button>i {
    font-size: 1.6rem;
    color: inherit;
}


/* SNS */

.sns_btn:nth-child(1) {color: #2F3138;}
.sns_btn:nth-child(2) {color: #4267B2;}
.sns_btn:nth-child(3) {color: #DA4536;}
.sns_btn:nth-child(4) {color: #553424;}
.sns_btn:nth-child(5) {color: #ff0000;}
.sns_btn:nth-child(6) {color: #2F3138;}

.sns_box {
    width: 45rem;
    padding: 1.5rem;

}
.middle {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sns_btn {
    display: inline-block;
    width: 4.5rem;
    height: 4.5rem;
    background-color: #f1f1f1;
    margin: 0 1rem;
    border-radius: 30%;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.sns_btn i {
    line-height: 4.5rem;
    font-size: 2rem;
    transition: 0.2s linear;
}

/* Skill */
.info_box {padding: 0 1.5rem 1.5rem 1.5rem; flex-direction: column;}
.sub_box {margin-top: 1.5rem;}
.sub_title {font-size: 1.6rem; font-weight: bold; border-left: 0.4rem solid #2F3138; padding-left: 0.5rem;}
.skill_box {width: 100%; font-size: 1.2rem;}
.bar_wrap {margin-bottom: 1.5rem;}
.skill_title {padding: 0 0 0.5rem 0.8rem;}
.bar_border {
    width: 100%;
    height: 2rem;
    background-color: #f1f1f1;
    overflow: hidden;
    border-radius: 1.6rem;
}
.bar_fill {
    height: 2rem;
    background: linear-gradient(90deg, rgba(66,148,224,1) 0%, rgba(171,39,121,1) 100%);
    padding: 0 1.5rem;
    text-align: center;
    line-height: 2rem;
    font-weight: bold;
    font-size: 1.2rem;
    color: white;
}

/* License */
.item_sign > span {
    padding-left: 0.8rem;
}

/* Window for Chatbot and kakao */
.window_wrap {
	min-width: 39rem;
	max-width: 39rem;
	display: none;
	position: fixed;
	z-index: 990;
	border-radius: 0.5rem;
	right: 15rem;
	bottom: 3rem;
	box-shadow: 0 0.4rem 1rem 0 rgba(0,0,0,0.2), 0 0.4rem 2rem 0 rgba(0,0,0,0.19);
	overflow: hidden;
}
.window_title {
	background-color: #2F3138;
	color: white;
	font-weight: bold;
	padding: 0.7rem 0 0.7rem 1.5rem;
	font-size: 1.8rem;
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 3.5rem;
}
.msg_box{
    padding: 1.5rem;
}
.window_title span{
	line-height: 3.5rem;
}
.window_title > div {
	display: flex;
	align-items: center;
	gap: 3px;
}
.window_close_btn {
    justify-content: center;
    width: 3.5rem;
    height: 3.5rem;
    cursor: pointer;
}

/* Kakao */
.kakao_box {
	background-color: white;
}
#kakao_msg_box {
	height: auto;
}
.kakao_msg_info {
	font-size: 1.5rem;
}
.kakao_input_area {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}
.kakao_input_box {
	border: 1px solid #2d2f31;
	display: flex;
	align-items: center;
	position: relative;
}
.kakao_input {
	width: 100%;
	border: 0!important;
	box-shadow: none!important;
	outline: 0!important;
	height: 6rem!important;
	padding: 2rem 1.6rem 0;
	transition: opacity 100ms linear;
	font-size: 1.6rem;
	opacity: 0;

}
.kakao_input_label {
	width: 95%;
	z-index: 100;
	font-weight: bold;
	font-size: 1.6rem;
	left: .8rem;
	position: absolute;
	top: .8rem;
	border: 1px solid transparent;
	transform: translateY(1.2rem);
	transform-origin: top left;
	transition: all 150ms cubic-bezier(.2,0,.38,.9);
}

#send_kakao_btn{
	font-family: 'Nanum Gothic', sans-serif;
	width: 100%;
	text-align: center;
	height: 4.5rem;
	font-size: 1.6rem;
	line-height: 2.4rem;
	padding-top: 1.2rem;
	padding-bottom: 1.2rem;
	font-weight: bold;
	display: flex;
	border-radius: 0.4rem;
	justify-content: center;
	align-items: center;
	color: #191919;
	border: 0;
	outline: none;
	background: #FEE500;
	cursor: pointer;
	transition: all 0.1s ease;
	text-align: center;
}

/* Side Button */

.fix_btn {

    z-index: 999;
    
    position: fixed;
    
    right: 5rem;
    
    color: white;
    
    width: 6rem;
    
    height: 6rem;
    
    border-radius: 50%;
    
    display: flex;
    
    justify-content: center;
    
    align-items: center;
    
    font-size: 2.7rem;
    
    cursor: pointer;
    
    box-shadow: 0 0.4rem 1rem 0 rgba(0,0,0,0.2), 0 0.4rem 2rem 0 rgba(0,0,0,0.19);
    
    }
    
    .fix_btn > i {
    
    transition: transform .3s;
    
    }
    
    .fix_btn:hover > i{
    
    animation: heartBeat 1.5s infinite;
    
    }
    
    .chatbot_btn, .chatbot_close_btn {
    
    bottom: 10rem;
    
    background-color: #10A37F;
    
    }
    
    .kakao_btn, .kakao_close_btn {
    
    bottom: 3rem;
    
    background-color: #1E90FF;
    
    }
    
    .top_btn {
    
    bottom: 17rem;
    
    background-color: #2F3138;
    
    display: none;
    
    }
.chatbot_close_btn, .kakao_close_btn{
    display:none;
}





































/* 스마트폰
	##Device = Most of the Smartphones Mobiles (Portrait)
	##Device = 대부분의 스마트폰 모바일 기기(세로)
	##Screen = 320px에서 768px 사이
*/
@media (min-width: 320px) and (max-width: 768px) {
	.html, body { font-size: 50%;}
    body { 	
        width: 100vw;
        height: 100vh;
        align-items: center;
    }
	.wrap {transform: rotate(90deg);}
    .sns_box, .info_box {display: none;}
	
}
