<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello i'm Sun Hyung</title>
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/a740871895.js" crossorigin="anonymous"></script>
    <!-- css -->

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/css/common.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/css/design.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/css/animation.css')}}">

    <!--favicon-->
    <link rel="shortcut icon" href="{{ url_for('static', path='/img/파비콘.jpg')}}">
</head>
<body>
    <div class="top_btn fix_btn"><i class="fas fa-arrow-up"></i></div>
    <div class="chatbot_btn fix_btn"><i class="fas fa-robot"></i></div>
    <div class="chatbot_close_btn fix_btn" onclick="close_chatbot()"><i class="fas fa-times"></i></div>
    <div class="kakao_btn fix_btn"><i class="fas fa-comment"></i></div>
    <div class="kakao_close_btn fix_btn" onclick="close_kakao()"><i class="fas fa-times"></i></div>

    <div class="window_wrap" id="chatbot_wrap">
        <div class="window_title">
            <div>
                <i class="fas fa-robot"></i>
                <span>CHATBOT</span>
            </div>
            <div class="window_close_btn" id="chatbot_window_close" onclick="close_chatbot()"><i class="fas fa-times"></i></div>
        </div>
        <div class="chatbot_box">
            <div class="msg_box">
                <div class="chat_msg_box">
                    <div class="chat_msg_box_left">
                        <i class="fas fa-robot"></i>
                    </div>
                    <div class="chat_msg_box_right">
                        <span class="chat_msg_date"></span>
                        <span class="chat_msg_info">Hello, I'm Cholong. 무엇이든 물어보세요. </span>
                    </div>
                </div>    
            </div>
    <div class="msg_input">
        <input id="send_chat_input" type="text" onkeypress="enter_keypress(event)"></input>
        <button id="send_chat_btn" type="button"><i class="fas fa-paper-plane"></i></button>
    </div>
</div>
</div>

    <!-- KakaoTalk -->
    <div class="window_wrap" id="kakao_wrap">
        <div class="window_title">
            <div >
                <i class="fas fa-comment"></i>
                <span>KAKAOTALK</span>
            </div>
            <div class="window_close_btn" id="kakao_window_close" onclick="close_kakao()"><i class="fas fa-times"></i></div>
        </div>
        <div class="kakao_box">
            <div class="msg_box" id="kakao_msg_box">
                <div class="kakao_msg_info">연락을 원하시면 언제든지 메세지를 보내주세요.</div>
                <form id="kakao_form">
                    <div class="kakao_input_area">
                        <div class="kakao_input_box">
                            <input type="text" name="kakao_name" class="kakao_input" id="kakao_name">
                            <label for="kakao_name" class="kakao_input_label">NAME</label>
                        </div>
                        <div class="kakao_input_box">
                            <input type="text" name="kakao_email" class="kakao_input" id="kakao_email">
                            <label for="kakao_email" class="kakao_input_label">EMAIL</label>
                        </div>
                        <div class="kakao_input_box">
                            <input type="text" name="kakao_message" class="kakao_input" id="kakao_message">
                            <label for="kakao_message" class="kakao_input_label">MESSAGE</label>
                        </div>
                        <button type="button" id="send_kakao_btn">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.998 4c-5.387 0-9.753 3.443-9.753 7.69 0 2.746 1.826 5.158 4.572 6.516-.15.515-.96 3.314-.992 3.535 0 0-.02.165.087.227a.295.295 0 00.232.015c.308-.044 3.564-2.327 4.127-2.72.572.08 1.15.118 1.727.117 5.387 0 9.754-3.443 9.754-7.69S17.384 4 11.998 4z" fill="#000", fill-opacity=".9"></path>
                            </svg>
                            카카오톡 보내기
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>  
    <div class="wrap">
        <!-- 명함 -->
        <div class="common_box card_box">
            <div class="card_left">
                <div class="card_job">
                    <!-- 이름 -->
                    <span class="name_ko">김  선  형</span>
                    <!-- 영문이름 -->
                    <span class="name_eng">Kim  Sun  Hyung</span>
                    <!-- 직업 -->
                    <span class="job">Wed enginner</span>
                </div>
                <div class="item_list">
                    <div class="item_type">
                        <span>Mail.</span>
                        <span>Site.</span>
                    </div>
                    <div>
                        <!-- 메일 -->
                        <span>lobsterbuger@naver.com</span>
                        <!-- 웹사이트 -->
                        <span><a href="tjsgud99.github.io"></a>tjsgud99.github.io</span>
                    </div>
                </div>

            </div>
            <div class="card_right">
                <div class="card_img"></div>
            </div>
            <div class="design_bar"></div>
        </div>
        
        <!-- SNS -->
        <div class="common_box sns_box">
            <div class="middle">
                <a class="sns_btn" href="https://github.com/tjsgud99" target="_blank"><i class="fab fa-github"></i></a>
                <a class="sns_btn" href="" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a class="sns_btn" href="" target="_blank"><i class="fab fa-google"></i></a>
                <a class="sns_btn" href="" target="_blank"><i class="fab fa-instagram"></i></a>
                <a class="sns_btn" href="" target="_blank"><i class="fab fa-youtube"></i></a>
                <a class="sns_btn" href="./download/resume.pdf" download="resume.pdf"><i class="fas fa-file-download"></i></a>
            
            </div>
        </div>
        
        
        <div class="common_box info_box">
            <!-- Skill -->
            <div class="sub_box skill_box">
                <div class="sub_title">Skills</div>
                <div class="bar_wrap">
                    <div class="skill_title"><strong>프로그래밍</strong></div>
                    <div><div class="bar_border"><div class="bar_fill" style="width: 50%">50%</div></div></div>
                </div>

                <div class="bar_wrap">
                    <div class="skill_title"><strong>데이터베이스</strong></div>
                    <div><div class="bar_border"><div class="bar_fill" style="width: 50%">50%</div></div></div>
                </div>

                <div class="bar_wrap">
                    <div class="skill_title"><strong>AI</strong></div>
                    <div><div class="bar_border"><div class="bar_fill" style="width: 50%">50%</div></div></div>
                </div>
            </div>

            <!-- License -->
            <div class="sub_box">
                <div class="sub_title">License</div>
                <div class="item_list">
                    <div class="item_type item_sign">
                        <span>+ </span>
                        <span>+ </span>
                        <span>+ </span>
                    </div>
                    <div>
                        <span>초경량비행장치 자격증</span>
                        <span>정보처리기사</span>
                        <span>운전명허2종 자격증</span>
                    </div>
                </div>
            </div>

            <!-- Work -->
            <div class="sub_box">
                <div class="sub_title">Work</div>
                <div class="item_list">
                    <div class="item_type item_sign">
                        <span>+ </span>
                        <span>+ </span>
                        <span>+ </span>
                    </div>
                    <div>
                        <span>신입</span>
                        <span>경력2</span>
                        <span>경력3</span>
                    </div>
                </div>
            </div>

            <!-- Education -->
            <div class="sub_box">
                <div class="sub_title">Education</div>
                <div class="item_list">
                    <div class="item_type item_sign">
                        <span>+ </span>
                        <span>+ </span>
                    </div>
                    <div>
                        <span>조선대학교 컴퓨터공학과 졸업</span>
                        <span>교육2</span>
                    </div>
                </div>
            </div>

            <!-- Award -->
            <div class="sub_box">
                <div class="sub_title">Project</div>
                <div class="item_list">
                    <div class="item_type item_sign">
                        <span>+ </span>
                        <span>+ </span>
                    </div>
                    <div>
                        <span>캡스톤디자인 앱개발</span>
                        <span>수상2</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

           
          
</body>
<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type = "text/javascript" src ="{{url_for('static', path='/js/fnc.js')}}"></script>

</html>